#input{
    width:250px;
}
input{
    border: none;
    border-bottom: 2px solid black;
    padding: 10px;
}
label{
    margin: 30px;
}
button{
    background-color: deeppink;
    border-radius: 30px;
    padding: 0 25px;
}
i{
    color: blue;
}
form{
    background-image: url("https://phonoteka.org/uploads/posts/2021-04/1618400492_12-phonoteka_org-p-tsvetnie-foni-odnogo-tsveta-15.jpg");
    border: 1px solid black;
    width: 300px;
    padding: 15px 0 0 0;
    text-align: center;
}
.div{
    display:grid;
    justify-content: center;
}
.checkbox{
    background-color: blue;
}
.link{
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    gap: 15px;
    background-color:lightskyblue; 
}

